* {
    margin: 0;
    padding: 0;
}
.main {
    margin:0 auto;
    width: 500px;
    background-color: rgb(255, 143, 51);
    text-align: center;
}
h1 {
    padding-top: 20px;
}
#list {
    list-style: none;
}
#list li {
    padding: 20px;
    border: 1px solid rgb(245, 114, 39);
}
input {
    padding: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.section {
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.section button {
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin: 5px;
}
.section button:hover {
    border: 2px solid rgb(255, 81, 0);
}
.section h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
#tabela {
    margin-top: 20px;
    width: 100%;
}
#tabela td {
    width: 100px;
    height: 200px;
}
#tabela img {
    width: 70px;
    height: 100px;
}
#tabela p {
    border: 1px solid rgb(5, 4, 4);
    background-color: rgb(245, 114, 39);
    color: rgb(252, 252, 252);
    padding: 5px;
}
.open {
    display: block;
}